@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
}

body .standings{
    font-family: 'Karla', sans-serif;
}

.logo{
    margin-right: 20px;
}

a{
    color: #00c8c8;
}

a:hover{
    color: #c69d57;
}

a.text.navbar-item:hover strong{
    color: #c69d57 !important;
}

.topbar{
    display: inline;
}

.text{
    font-size: 18px;
    margin: 2px;
}

.table{
    width: 100%;
}

/*for teamPage.html*/

.header-background{
    background-color: #505050;
}

.team-games{
    font-size: 22px;
}

/*for admin.html*/

.admin-panel{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.field{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#admin-nav{
    margin-bottom: 20px;
}

.field .is-grouped{
    margin: 0;
}



