@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
}

.logo{
    margin-right: 20px;
}

a{
    color: #00c8c8;
}

a:hover{
    color: #c69d57;
}

a.text.navbar-item:hover strong{
    color: #00c8c8 !important;
}

p{
    color: #000000;
}

.topbar{
    display: inline;
}

.text{
    font-size: 18px;
    margin: 2px;
}

.column{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.logo-standings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 45px;
}

.groups{
    max-height: 337px;
}

div .team-link{
    display: flex;
    align-items: center;
}

.table{
    width: 100%;
}

#standings-columns .column{
    padding: 0.75rem !important;
}

/*for teamPage.html*/

.header-background{
    background-image: url('images/headerbackgroundimg.jfif');
}

.team-games{
    font-size: 22px;
}

#team-logo-head{
    float: left;
    display: flex;
    align-items: center;
    width: 10%;
    height: 10%;
}

.teamname{
    position: relative;
    top: 20px;
    left: 15px;
}

/*for admin.html*/

.admin-panel{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.field{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#admin-nav{
    margin-bottom: 20px;
}

.field .is-grouped{
    margin: 0;
}

#outcome-win{
    margin-bottom: 10px;
}

#submit-button{
    margin-left: 10px;
}

/*for games.html*/

#game-container{
    margin-top: 15px;
}

#date-field-games{
    margin-top: 15px;
    width: 25%
}

#sort-button-games{
    margin-bottom: 24px; 
}

/*subset style of games.html and teamPages.html for pagination*/

.pagination-list{
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}

.light-blue-background{
    background-color: #00c8c8;
}