@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
}

body, html{
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 25px;
}

.light-blue-background{
    background-color: #00c8c8;
}

.tan-background{
    background-color: #BFA975;
}

.logo{
    margin-right: 20px;
}

a{
    color: #00c8c8;
}

a:hover{
    color: #c69d57;
}

a.text.navbar-item:hover strong{
    color: #00c8c8 !important;
}

p{
    color: #000000;
}

.text{
    font-size: 18px;
    margin: 2px;
}

.column{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

/*for index.html*/

#home-page-bg{
    background-image: url('images/worlds20.jpg');
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color: #ffffff;
    display: block;
    font-size: 240px;
    margin-bottom: 25px !important;
}

/*this code for the button animation is from https://ianlunn.github.io/Hover/*/
.hvr-sweep-to-right { /*this code controls the fade animation of the text from black -> white*/
    display: inline-block;
    transform: perspective(1px) translateZ(0); /*necessary for the bar to appear on screen*/
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    transition-property: color; /*property being changed*/
    transition-duration: 0.7s;  /*fade duration*/
}

[class^="hvr-"] { /*all classes with the hvr- as a prefix are affected by this*/
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    transform: scaleX(1); /*necessary for the bar to appear on screen*/
}

.hvr-sweep-to-right:before { /*deals with the animation of the bar sliding from left -> right*/
    content: ""; /*text content of the bar*/
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #BFA975;
    transform: scaleX(0); /*without this, there is a one-time animation that does not happen when the cursor hovers*/
    transform-origin: 0 50%; /*point at which the transformation is applied*/
    transition-property: transform;
    transition-duration: 0.7s; /*duration of the bar*/
    transition-timing-function: ease-out; /*eases the bar*/
}

/*for standings.html*/

.logo-standings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 42px;
}

.groups{
    max-height: 325px;
}

div .team-link{
    display: flex;
    align-items: center;
}

.table{
    width: 100%;
}

#standings-columns .column{
    padding: 0.75rem !important;
}

/*for teamPage.html*/

.header-background{
    background-image: url('images/headerbackgroundimg.jfif');
}

.team-games{
    font-size: 22px;
}

#team-logo-head{
    float: left;
    display: flex;
    align-items: center;
    width: 10%;
    height: 10%;
}

.teamname{
    position: relative;
    top: 20px;
    left: 15px;
}

/*for admin.html*/

.admin-panel{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.field{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#admin-nav{
    margin-bottom: 20px;
}

.field .is-grouped{
    margin: 0;
}

#outcome-win{
    margin-bottom: 10px;
}

#submit-button{
    margin-left: 10px;
}

#admin-card{
    margin-bottom: 24px;
}

/*for games.html*/

#game-container{
    margin-top: 15px;
}

.dates{
    display: flex;
    justify-content: center;
}

#date-field-games{
    margin-top: 15px;
    width: 30%;
}

#sort-button-games{
    margin-top: 15px;
    margin-bottom: 24px; 
}

/*subset style of games.html and teamPages.html for pagination*/

.pagination-list{
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}