/*This stylesheet is used for the homepage only because it differs in style from the other pages*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Global*/

*{
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3{
    margin: 0;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px 0 15px; /*Fix padding if necessary*/
    display: grid;
}

.highlight{
    color:#910b21;
}

.button{
    background: #1A1A1D;
    font-weight: bold;
    max-width: 40%;
    padding: 1em 2em;
    border: 1px solid #fff;
    margin: .5em 0;
}

.button:hover{
    background: #cfcfcf;
    color: #1A1A1D;
    border: 1px solid #cfcfcf;
}

/*Header and Nav*/

header{
    background-color:#1A1A1D;
    color:#ffffff;
    padding: 5px;
    height:60px;
}

.main-header .container .title{
    display:flex;
    justify-content: flex-start;
    padding-top: 8px;
    align-items:center;
    font-size: 40px;
    flex-basis: 100%;
}

.main-header .bar .container{
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    align-items:center;
    padding-top:8px;
    height:10%;
}

.main-header a{
    color: #ffffff;
    text-decoration:none;
    font-size:20px;
}

.main-header a:hover{
    color:#910b21;
}

.main-header .current a{
    color:#910b21;
}

.main-header ul{
    display: flex;
}

.main-header ul li{
    margin-left: 20px;
}

/*Beginning of Main -- Section A*/

#main{
    background-color:#26282d;
}

#sect-a .container{
    background-color:#26282d;
    color:#910b21;
    min-height: 425px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sect-a h1{
    padding-top: 50px;
    font-size: 80px;
    line-height: 1.8;
}

#sect-a p{
    display: grid;
    color:#ffffff;
    width: 550px;
    font-size: 19px;    
    line-height: 1.2;
    padding-left: 10px;
}

#sect-a img{
    display: grid;
    max-width: 600px;
    border-radius: 125px;
    box-shadow: 0px 4px 4px rgba(34,34,34,0.6);
    align-self: center;
    justify-self: end;
}

/*Section B*/

#sect-b{
    min-height: 640px;
}

#sect-b .container{ /*Container for grid in section B only*/
    max-width: 1300px;
    padding-top: 5px;
    display: grid;
    min-height: 600px;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    border: 2px solid #910b21;
    gap: 25px;
}

#sect-b .profile:nth-child(1){
    grid-column: 1/2;
}

#sect-b .profile:nth-child(2){
    grid-column: 2/3;
}

#sect-b .profile:nth-child(3){
    grid-column: 3/4;
}

#sect-b img{
}

/*Creates a circle with the character's splash art inside*/
/*
.circle{
    width: 200px;
    height: 200px;
    background:url('../images/aatroxsplash.jpg') no-repeat center center;
    border-radius: 50%
}
*/

#sect-b h2{
    color: #910b21;
    padding-top: 5px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#sect-b h3{
    color: #910b21;
    padding-bottom: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#sect-b p{
    color: #ffffff;
    margin: auto;
    padding-bottom: 5px;
    max-width: 80%;
    line-height: 1.25em;
    text-align: center;
}

#sect-b a{
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration:none;
}

#sect-b a:hover{
    color: #1A1A1D;
}

/*Main Footer*/

#main-footer{
    padding-top: 5px;
    min-height: 75px;
    color:#ffffff;
    background-color: #1A1A1D;
    display: flex;
    justify-content: center;
    align-items: center;
}



