@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Global*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family:'Josefin Sans', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    background-color: #26282d;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px 0 20px; /*Fix padding if necessary*/
    display: grid;
}

.highlight{
    color:#910b21;
}

.button{
    background: #1A1A1D;
    font-weight: bold;
    max-width: 40%;
    padding: 1em 2em;
    border: 1px solid #fff;
    margin: .5em 0;
}

.button:hover{
    background: #cfcfcf;
    color: #1A1A1D;
    border: 1px solid #cfcfcf;
}


/*Hamburger menu setup and movements. Hamburger code not mine, from https://alvarotrigo.com/blog/hamburger-menu-css */

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after { /*Setup of the hamburger menu*/
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before { /*Top bar in hamburger menu*/
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after { /*Bottom bar in hamburger menu*/
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
 
/*Code for social media icons - from https://codepen.io/abdelrhmansaid/pen/OJRNOpQ by Abdelrhman Said*/

.wrapper {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    color: #1A1A1D;
    border-radius: 50%;
    padding: 15px;
    padding-top: 18px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .spotify:hover,
  .wrapper .spotify:hover .tooltip,
  .wrapper .spotify:hover .tooltip::before {
    background: #1ed760;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #44484c;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }

/*Header and Nav*/

header{
    position: sticky;
    top: 0px; 
    background-color:#1A1A1D;
    color:#ffffff;
    padding: 5px;
    height:60px;
}

.main-header .container .title{
    display:flex;
    justify-content: flex-start;
    padding-top: 8px;
    align-items:center;
    font-size: 40px;
    flex-basis: 100%;
}

.main-header .bar .container{
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    align-items:center;
    height:10%;
}

.main-header a{
    color: #ffffff;
    font-size:22px;
}

.main-header a:hover{
    color:#910b21;
}

.main-header .current a{
    color:#910b21;
}

.main-header ul{
    display: flex;
}

.main-header ul li{
    margin-left: 15px;
}

/*Main*/

#sect .container{
    background-color:#26282d;
    color:#910b21;
    min-height: 425px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.25fr repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#sect h1{
    padding-top: 50px;
    font-size: 80px;
    grid-column: 1/5;
    grid-row: 1/2;
}

#sect p{
    color: #ffffff;
    font-size: 22px;    
    padding-left: 10px;
    padding-bottom: 3px;
    grid-column: 1/5;
    grid-row: 2/5;
    justify-self: center;
}

#sect .task1, .task2, .task3, .task4, .task5{
    margin: 5px 0;
    grid-column: 6/9;
    padding: 5px;
    text-align: center;
    align-self: center;
    background-color:rgb(12, 12, 14, 0.6);
    border: #910b21 2px solid;
}

#sect img{
    display: grid;
    max-width: 100%;
    border-radius: 75px;
    box-shadow: 0px 4px 4px rgba(34,34,34,0.6);
    align-self: center;
    justify-self: center;
    margin-top: 50px;
    grid-column: 1/5;
    grid-row: 3/6;
}

/*Footer*/

#main-footer{
    padding-top: 5px;
    min-height: 75px;
    color:#ffffff;
    background-color: #1A1A1D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#main-footer p{
    justify-self: center; 
}

.icons{ /*To fix link colour*/
    color: #1A1A1D;
}

/*Media Queries*/

@media(max-width: 1141px){ /*Shrinks title to keep formatting; footer format changes*/
    #sect h1{
        font-size: 70px;
    }

    #main-footer{
        padding: 10px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;  
    }

    #main-footer p{
        grid-row: 2/3;
    }
}

@media(max-width: 1074px){ /*Shrinks p to avoid overlap*/
    #sect p{
        font-size: 20px;
    }
}

@media(max-width: 1004px){ /*Shrinks title to keep formatting*/
    #sect h1{
        font-size: 60px;
        align-self: flex-end;
    }
}

@media(max-width: 930px){ /*Hamburger menu setup and movements. Hamburger code not mine, from https://alvarotrigo.com/blog/hamburger-menu-css*/
    .menu-button-container {
        display: flex;
    }
    
    .menu {
        position: absolute;
        top: 0;
        margin-top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #1A1A1D;
    }

    .menu > li:not(:last-child) { 
        border-bottom: 1px solid #444;
    }
}

@media(max-width: 875px){ /*THE MOBILE FRIENDY EXPERIENCE*/
    #sect .container{
        height: 1080px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);
        background: url('../images/dagger.jpg');
        background-position:0 -160px;
        background-repeat: no-repeat;
        background-size: 900px;
        opacity: 0.75;
    }

    #sect h1{
        font-size: 100px;
        grid-column: 1/10;
        grid-row: 1/2;
        justify-self: center;
        margin-bottom: 25px;
    }

    #sect p{
        grid-column: 1/10;
        grid-row: 2/3;
        text-align: center;
        padding-bottom: 10px;
    }
    
    #sect .task1{
        grid-column: 1/10;
        grid-row: 3/4;
    }
    
    #sect .task2{
        grid-column: 1/10;
        grid-row: 4/5;
    }
    
    #sect .task3{
        grid-column: 1/10;
        grid-row: 5/6;
    }
    
    #sect .task4{
        grid-column: 1/10;
        grid-row: 6/7;
    }

    #sect .task5{
        grid-column: 1/10;
        grid-row: 7/8;
    }

    .becomebackground{
        display: none;
    }
}







