@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Global*/

*{ /*Applies to everything*/
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{ /*Changes background and text in body section*/
    font-family:'Josefin Sans', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    background-color: #26282d;
}

.container{ /*Default container properties*/
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: grid;
}

.highlight{ /*Changes colour for elements with this class; used for span*/
    color:#910b21;
}

.button{ /*Default button properties*/
    background: #1A1A1D;
    font-weight: bold;
    max-width: 40%;
    padding: 1em 2em;
    border: 1px solid #fff;
    margin: .5em 0;
}

.button:hover{ /*Default hover button properties*/
    background: #cfcfcf;
    color: #1A1A1D;
    border: 1px solid #cfcfcf;
}


/*Hamburger menu setup and movements. Hamburger code not mine, from https://alvarotrigo.com/blog/hamburger-menu-css */

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after { /*Setup of the hamburger menu*/
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before { /*Top bar in hamburger menu*/
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after { /*Bottom bar in hamburger menu*/
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
 
/*Code for social media icons - from https://codepen.io/abdelrhmansaid/pen/OJRNOpQ by Abdelrhman Said - Comments for the social media icons is the same through all pages and are in style.css*/

.wrapper {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    color: #1A1A1D;
    border-radius: 50%;
    padding: 15px;
    padding-top: 18px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .spotify:hover,
  .wrapper .spotify:hover .tooltip,
  .wrapper .spotify:hover .tooltip::before {
    background: #1ed760;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #44484c;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }

/*Header and Nav*/

header{ /*Makes the header stay at top of page even after scrolling past*/
    position: sticky;
    top: 0px; 
    background-color:#1A1A1D;
    color:#ffffff;
    padding: 5px;
    height:60px;
}

.main-header .container .title{ /*titel top left*/
    display:flex;
    justify-content: flex-start;
    padding-top: 8px;
    align-items:center;
    font-size: 40px;
    flex-basis: 100%;
}

.main-header .bar .container{ /*navbar top right*/
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    align-items:center;
    height:10%;
}

.main-header a{
    color: #ffffff;
    font-size:22px;
}

.main-header a:hover{
    color:#910b21;
}

.main-header .current a{
    color:#910b21;
}

.main-header ul{
    display: flex;
}

.main-header ul li{
    margin-left: 15px;
}

/*Beginning of Main -- Section A*/

#sect-a .container{ /*main container that uses grid in section A*/
    padding-top: 10px;
    background-color:#26282d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}

#sect-a h1{
    padding-top: 50px;
    font-size: 80px;
    grid-column: span 2;
    grid-row: 1/2;
    justify-self: center;
    text-align: center;
}

#sect-a p{
    color: #ffffff;
    width: 900px;
    font-size: 22px;    
    padding-left: 10px;
    grid-column: span 3;
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
}

/*Section B*/

#sect-b{ /*sets the minimum height for the section*/
    min-height: 500px;
}

#sect-b .container{ /*Container for grid in section B only*/
    max-width: 1300px;
    padding-top: 5px;
    display: grid;
    min-height: 550px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; 
    align-content: center;
    padding-bottom: 10px;
    margin: auto;
    gap: 25px;
}

#sect-b h1{
    font-size: 60px;
}

#sect-b h2{
    padding-top: 5px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#sect-b img{ /*Changes the max-width of the images in sect-b*/
    max-width: 80%;
}

#sect-b .container .wanted{ /*Adds padding inside the border and a border around each of the wanted class div's (WANTED, image, reward)*/
    padding: 10px 5px;
    border: #910b21 2px solid;
}

/*Footer*/

#main-footer{ /*footer uses grid format to separate copyright text from social media icons*/
    padding-top: 5px;
    min-height: 75px;
    color:#ffffff;
    background-color: #1A1A1D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#main-footer p{
    justify-self: center; 
    text-align: center; 
}

.icons{ /*To fix link colour*/
    color: #1A1A1D;
}

/*Media Queries*/

@media(max-width: 1100px){ /*Re-aligns text and shrinks container*/
    #sect-a .container h1{
        justify-self: center;
        text-align: center;
    }

    #sect-b .container{
        min-height: 500px;
    }
}

@media(max-width: 940px){ /*Using different media query here for readability; stacks the wanted posters for mobile friendly*/

    #sect-a p{
        width: 750px;
    }

    #sect-b .container{ /*Container for grid in section B only*/
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        min-height: 550px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #sect-b .wanted:nth-child(1){ /*sets each child of wanted class into a specific row and column*/
        grid-row: 1/2;
        grid-column: 1/4;
        background-color: #1A1A1D;
    }

    #sect-b .wanted:nth-child(2){
        grid-row: 2/3;
        grid-column: 1/4;
        background-color: #1A1A1D;
    }

    #sect-b .wanted:nth-child(3){
        grid-row: 3/4;
        grid-column: 1/4;
        background-color: #1A1A1D;
    }
}

@media(max-width: 940px){ /*Hamburger menu setup and movements. Hamburger code not mine, from https://alvarotrigo.com/blog/hamburger-menu-css - Comments are in style.css; code is the same across stylesheets*/
    .menu-button-container {
        display: flex;
    }
    
    .menu {
        position: absolute;
        top: 0;
        margin-top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #1A1A1D;
    }
  
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media(max-width: 840px){ /*Footer format changes*/
    #main-footer{
        padding: 10px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;  
    }

    #main-footer p{
        grid-row: 2/3;
    }
}

@media(max-width: 787px){ /*Shrink paragraph width*/
    #sect-a p{
        width: 600px;
    }
}

@media(max-width: 640px){ /*Shrink paragraph width*/
    #sect-a p{
        width: 500px;
    }
}

@media(max-width: 540px){ /*Shrink paragraph width*/
    #sect-a p{
        width: 400px;
    }
}

@media(max-width: 380px){ /*Shrinking text and pushing it to the left to allow for the display to be responsive on VERY THIN mobile devices (b/c center doesn't center it for some reason?!) Also shrink social media icons and footer text FOR VERY SMALL MOBILE DEVICES*/
    #sect-a h1{
        font-size: 50px;
    }

    #sect-a p{
        width: 300px;
        justify-self: flex-start;
        text-align: left;
    }

    #main-footer p{
        width: 250px;
    } 

    .wrapper .icon {
        width: 30px;
        height: 30px;
    }
}